.about-us{
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 248, 245);
}
.about-us__main-block{
    padding: 20px 150px 70px 150px;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;

}
.about-us__submain-block{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.about-us__main-block .section_header{
    margin-top: 10px;
    margin-bottom: 50px;
}
.about-us__content{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-left: -10px;
}
.about-us__photos{
    width:50%;
    display: flex;
    flex-wrap: wrap;
   justify-content:space-between;

}
.content__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
    padding: 10px;
}
.content__about-us-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -25px;
    padding: 10px;
}
.about-us-block_info{
    width: calc(33.33333% - 20px);

}
.about-us-block_blue{
    color: #00AEEF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}
.about-us-block_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #575757;
}
.photo-us:nth-child(1){
    width: 470px;
    height: 265px;
    background-image: url(/img/aboutUs1.svg);
    background-size: cover;
}
.photo-us:nth-child(2){
    width: 239px;
    height: 265px;
    background-image: url(/img/aboutUs2.svg);
    background-size: cover;
}
.photo-us:nth-child(3){
    width: 294px;
    height: 406px;
    background-image: url(/img/aboutUs3.svg);
    background-size: cover;
}
.photo-us:nth-child(4){
    width: 413px;
    height: 406px;
    background-image: url(/img/aboutUs4.svg);
    background-size: cover;
}
@media(max-width:1600px){
    .about-us__main-block{
        padding: 20px 30px 70px 50px;
    }
}
@media(max-width:1450px){
    .about-us__photos{
        width: 1450px;
        display: flex;
        flex-wrap: nowrap;
       justify-content:unset;
    }
    .about-us-block_info{

        width: calc(50% - 20px);
    }
    .about-us__content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between  ;
    }
    .content__text{
        width: 45%;
    }
    .content__about-us-block{
        margin-top: 0%;
        display: flex;
        flex-wrap: wrap;
        width: 45%;
    }
    .about-us-block_blue{
        font-size: 36px;
        margin: 0%;
        padding: 0%;
    }
    .photo-us:nth-child(1), .photo-us:nth-child(2), .photo-us:nth-child(3), .photo-us:nth-child(4){
        width: 300px;
        height: 300px;
        margin-right: 40px;
    }
}
@media(max-width:1023px){
    .about-us__main-block{
       padding: 20px 0px 70px 20px;
    }
    .about-us-block_blue{
        font-size: 25px;
        line-height: 30px;
    }
    .about-us-block_text{
        font-size: 14px;
        line-height: 17px;
    }
}
@media(max-width:767px){
    .content__text{
        width: 100%;
    }
    .content__about-us-block{
        width: 100%;
    }
}