.achievements{
    position: relative;
    background: linear-gradient(79.74deg, rgba(22, 74, 168, 0.9) -5.98%, rgba(10, 124, 221, 0.9) 114.25%);
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.achievements__container{
    display: flex;
    flex-wrap: nowrap;

}
.achievements__main-block{
    padding: 20px 0px 70px 150px;
    max-width: 1920px;
    margin: 0 auto;;
}
.achievements__main-block .section_header{
    margin-top: 10px;
    margin-bottom: 50px;
}
.achievements__container div{
    margin-left: -100px;
    padding: 0px 150px 0px 100px;
}
.achievements__container h2{
    margin-top: 62px;
    margin-left: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

}
.achievements__container p{
    margin-top: -18px;
    width: 270px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 00;

}
.achievements__container .rate{
    margin-left: 5px;
    margin-top: 26px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
@media(max-width:1023px){
    .achievements__main-block{
       padding: 20px 0px 70px 20px;
    }
    .achievements__container div{
        margin-left: -10px;
        padding: 0px 30px 0px 10px;
    }
}
@media(max-width:767px){
    .block_title2{
        font-size: 26px;
        padding:0px;
        margin-top: 10px;
        line-height: 30px;
    }

}