.our-products{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 248, 245);
}
.our-products__main-block{
    padding: 20px 150px 70px 150px;
    max-width: 1920px;
    margin: 0 auto;
}
.our-products__main-block .section_header{
    margin-top: 10px;
    margin-bottom: 50px;
}
.our-products__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-products__block a{
    width:calc(33.33333%);
    margin-bottom: 30px;
    padding: 10px;
    margin-left: -10px;
}
.our-products__block a p{
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}
.our-products__block img {
    float: left;
}
.our-products__block a{
    text-decoration: none;
}
.our-products__block h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 50px;
    color: #2D3448;
    margin-left: 95px;
    margin-top: 16px;
    height: 30px;
}

.our-products__block-top{
    display: flex;
    justify-content: space-between;
}
@media(max-width:1600px){
    .our-products__main-block{
        padding: 20px 30px 70px 50px;
    }
}
@media(max-width:1023px){
    .our-products__main-block{
        padding: 20px 20px 70px 20px;
    }
    .our-products__block a{
        width: calc(50% - 10px);
        box-shadow: 4px 5px 10px 5px rgb(200, 200, 200);
        margin-left: 0px;
    }
}
@media(max-width:767px){
    .our-products__block a{
        width: 100%;
    }
}